.header{
    background: rgb(16, 20, 68);
}
.logo img{
    width: 150px;
}
.menu{
    text-align: right;
   
}
.menu ul{
    margin-bottom: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0px 15px;
    line-height: 95px;
}
/* header end */
/* banner start */
.banner{
    background-image: url(./intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 200px 0px;
}